# Django settings for brickmarket project.
# SECRET_KEY is a secret key for this Django installation. Used to provide cryptographic signing, and should be set to a unique, unpredictable value.
SECRET_KEY=